In [1]:
# tidyverse and presentation
library('dplyr')
library('forcats')
library('reshape2')
library('stringr')
library('readr')
library('ggplot2')
library('stargazer')
library('arsenal')
library('sjPlot')
library('tidyr')
library('naniar') # replacing -99 w/NA

# display
options(repr.matrix.max.cols=50, repr.matrix.max.rows=100)
options(dplyr.width = Inf)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Please cite as:


 Hlavac, Marek (2022). stargazer: Well-Formatted Regression and Summary Statistics Tables.

 R package version 5.2.3. https://CRAN.R-project.org/package=stargazer


Learn more about sjPlot with 'browseVignettes("sjPlot")'.


Attaching package: ‘tidyr’


The following object is masked from ‘package:reshape2’:

    smiths

# Overview

This notebook preps data from Qualtrics for analysis. The survey ran in October 2021 using a Qualtrics panel and in November 2021 using MTurkers. We estimated N = 426 for statistical power to detect differences among our users, data, and use case variables. We received 586 responses from Qualtrics panelists and 432 from MTurkers.

Where does the data live that we want to use?

In [2]:
qualtrics_file <- '../data/qualtrics_data.csv'

mturk_file <- '../data/mturk_data.csv'

out_file <- '../data/personal_data_survey_responses.Rdata'

In [3]:
qdf <- read_csv(qualtrics_file)
qdf$source <- "qualtrics"
mdf <- read_csv(mturk_file)
mdf$source <- "mturk"
df <- rbind(qdf, mdf)

Rows: 586 Columns: 141
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (140): responseid, distributionchannel, q43, social_media_use, how_often...
dbl   (1): gender_identity_6

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 432 Columns: 141
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (137): responseid, distributionchannel, q43, social_media_use, how_often...
dbl   (4): gender_identity_3, gender_identity_4, sexual_orientation_5, race_...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Let's make sure I didn't introduce any duplicates when manually prepping spreadsheets.

In [4]:
df <- df %>% distinct()
nrow(df)

[1] 1018

In [5]:
glimpse(df)

Rows: 1,018
Columns: 142
$ responseid           <chr> "R_3FXrXtg2n2GkeT4", "R_usoOyr9obtGrVYt", "R_12aM…
$ distributionchannel  <chr> "anonymous", "anonymous", "anonymous", "anonymous…
$ q43                  <chr> "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", …
$ social_media_use     <chr> "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", …
$ how_often_1          <chr> "Several Times a Day", "Several Times a Day", "Se…
$ how_often_2          <chr> "A Few Times a Week", "Several Times a Day", "Sev…
$ how_often_3          <chr> "A Few Times a Week", "Don't use at all", "Every …
$ how_often_4          <chr> "About Once a Day", "Don't use at all", "Several …
$ how_often_5          <chr> "A Few Times a Week", "Don't use at all", "Every …
$ how_often_6          <chr> "About Once a Day", "Don't use at all", "A Few Ti…
$ how_often_7          <chr> "About Once a Day", "A Few Times a Week", "A Few …
$ how_often_8          <chr> "Several Times a Day", "Don't use at all", "A Few…
$ how_often_9          <chr> "A Few Times a Week", "Don't use at all", "A Few …
$ how_often_10         <chr> "About Once a Day", "Don't use at all", "A Few Ti…
$ how_often_11         <chr> "About Once a Day", "A Few Times a Week", "About …
$ tweets_public        <chr> "No", NA, "Yes", "Yes", NA, "Yes", "I'm not sure"…
$ insta_public         <chr> "No", "Yes", "Yes", "Yes", NA, "Yes", NA, "Yes", …
$ researchers_1        <chr> "Yes", "Yes", "Yes", "-99", "Yes", "-99", "Yes", …
$ researchers_2        <chr> "Yes", "Yes", "Yes", "Yes", "No", "-99", "Yes", "…
$ researchers_3        <chr> "No", "No", "Yes", "-99", "No", "I'm not sure.", …
$ researchers_4        <chr> "Yes", "Yes", "Yes", "-99", "No", "-99", "Yes", "…
$ researchers_5        <chr> "Yes", "No", "Yes", "-99", "I'm not sure.", "-99"…
$ researchers_6        <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ researchers_7        <chr> "Yes", "No", "Yes", "-99", "Yes", "-99", "Yes", "…
$ researchers_8        <chr> "No", "No", "Yes", "-99", "No", "-99", "Yes", "Ye…
$ researchers_9        <chr> "Yes", "No", "Yes", "-99", "I'm not sure.", "-99"…
$ researchers_10       <chr> "Yes", "Yes", "Yes", "-99", "No", "-99", "Yes", "…
$ researchers_11       <chr> "No", "No", "Yes", "-99", "No", "-99", "Yes", "No…
$ researchers_12       <chr> "Yes", "No", "Yes", "-99", "No", "-99", "Yes", "N…
$ researchers_13       <chr> "Yes", "Yes", "Yes", "-99", "No", "-99", "Yes", "…
$ researchers_14       <chr> "No", "No", "Yes", "-99", "No", "-99", "Yes", "No…
$ researchers_15       <chr> "Yes", "Yes", "Yes", "-99", "I'm not sure.", "-99…
$ researchers_16       <chr> "Yes", "Yes", "Yes", "-99", "I'm not sure.", "-99…
$ researchers_17       <chr> "Yes", "No", "Yes", "-99", "No", "-99", "Yes", "N…
$ researchers_18       <chr> "Yes", "No", "Yes", "-99", "No", "-99", "Yes", "Y…
$ researchers_19       <chr> "Yes", "No", "Yes", "-99", "No", "-99", "Yes", "N…
$ researchers_20       <chr> "Yes", "No", "Yes", "-99", "I'm not sure.", "-99"…
$ sm_companies_1       <chr> "No", "No", "No", "-99", "Yes", "-99", "Yes", "Ye…
$ sm_companies_2       <chr> "Yes", "Yes", "Yes", "-99", "No", "-99", "Yes", "…
$ sm_companies_3       <chr> "No", "No", "No", "-99", "No", "-99", "Yes", "No"…
$ sm_companies_4       <chr> "No", "Yes", "No", "-99", "No", "-99", "Yes", "No…
$ sm_companies_5       <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ sm_companies_6       <chr> "No", "No", "No", "-99", "No", "-99", "Yes", "No"…
$ sm_companies_7       <chr> "Yes", "No", "Yes", "-99", "I'm not sure.", "-99"…
$ sm_companies_8       <chr> "I'm not sure.", "No", "Yes", "-99", "No", "-99",…
$ sm_companies_9       <chr> "Yes", "No", "No", "-99", "No", "-99", "Yes", "No…
$ sm_companies_10      <chr> "Yes", "Yes", "Yes", "-99", "No", "-99", "Yes", "…
$ sm_companies_11      <chr> "Yes", "No", "Yes", "-99", "No", "-99", "Yes", "N…
$ sm_companies_12      <chr> "Yes", "No", "Yes", "-99", "No", "-99", "Yes", "N…
$ sm_companies_13      <chr> "No", "Yes", "Yes", "-99", "No", "I'm not sure.",…
$ sm_companies_14      <chr> "Yes", "No", "Yes", "-99", "No", "-99", "Yes", "N…
$ sm_companies_15      <chr> "Yes", "Yes", "No", "Yes", "I'm not sure.", "-99"…
$ sm_companies_16      <chr> "Yes", "Yes", "Yes", "-99", "I'm not sure.", "-99…
$ sm_companies_17      <chr> "Yes", "No", "Yes", "-99", "No", "-99", "Yes", "N…
$ sm_companies_18      <chr> "No", "No", "No", "-99", "No", "-99", "Yes", "No"…
$ sm_companies_19      <chr> "No", "No", "Yes", "-99", "No", "-99", "Yes", "No…
$ sm_companies_20      <chr> "Yes", "No", "Yes", "-99", "I'm not sure.", "-99"…
$ journalists_1        <chr> "-99", "-99", "Yes", "-99", "No", "No", "No", "No…
$ journalists_2        <chr> "-99", "-99", "Yes", "-99", "No", "I'm not sure."…
$ journalists_3        <chr> "-99", "Yes", "Yes", "-99", "No", "No", "No", "No…
$ journalists_4        <chr> "-99", "Yes", "Yes", "-99", "No", "No", "No", "No…
$ journalists_5        <chr> "-99", "-99", "Yes", "-99", "No", "I'm not sure."…
$ journalists_6        <chr> "-99", "Yes", "Yes", "-99", "No", "I'm not sure."…
$ journalists_7        <chr> "-99", "Yes", "Yes", "-99", "No", "Yes", "No", "N…
$ journalists_8        <chr> "-99", "-99", "Yes", "-99", "No", "No", "No", "No…
$ journalists_9        <chr> "-99", "No", "Yes", "-99", "No", "Yes", "No", "No…
$ journalists_10       <chr> "-99", "Yes", "Yes", "Yes", "No", "No", "No", "No…
$ journalists_11       <chr> "-99", "-99", "Yes", "-99", "No", "No", "No", "No…
$ journalists_12       <chr> "Yes", "Yes", "Yes", "-99", "No", "No", "No", "No…
$ journalists_13       <chr> "-99", "Yes", "Yes", "-99", "No", "No", "No", "No…
$ journalists_14       <chr> "-99", "-99", "Yes", "-99", "No", "No", "No", "No…
$ journalists_15       <chr> "-99", "Yes", "Yes", "-99", "No", "Yes", "No", "N…
$ journalists_16       <chr> "-99", "-99", "Yes", "-99", "No", "I'm not sure."…
$ sometimes            <chr> "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", …
$ sometimes_text       <chr> "yup", "I feel like some of these would have spec…
$ digital_privacy_1    <chr> "Disagree", "Agree", "Agree", "Agree", "Agree", "…
$ digital_privacy_2    <chr> "Neither Agree Nor Disagree", "Agree", "Disagree"…
$ digital_privacy_3    <chr> "Neither Agree Nor Disagree", "Agree", "Agree", "…
$ digital_privacy_4    <chr> "Neither Agree Nor Disagree", "Agree", "Disagree"…
$ social_science       <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ data_archive_1       <chr> "Neither important nor unimportant", "Important",…
$ data_archive_2       <chr> "Not important", "Neither important nor unimporta…
$ data_archive_3       <chr> "Neither important nor unimportant", "Important",…
$ data_archive_4       <chr> "Not important", "Important", "Important", "-99",…
$ data_archive_5       <chr> "Neither important nor unimportant", "Important",…
$ secure_archive       <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ anonymous_archive    <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ `concern-misuse`     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ `concern-harm`       <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ age                  <chr> "25 - 34", "35 - 44", "35 - 44", "75 - 84", "75 -…
$ gender_identity_1    <chr> "-99", "0", "0", "Woman", "Woman", "Woman", "0", …
$ gender_identity_2    <chr> "-99", "0", "Man", "Man", "0", "0", "Man", "0", "…
$ gender_identity_3    <chr> "-99", "0", "0", "Transgender", "0", "0", "0", "0…
$ gender_identity_4    <chr> "-99", "Nonbinary/genderqueer", "0", "Nonbinary/g…
$ gender_identity_5    <chr> "-99", "0", "0", "0", "0", "0", "0", "0", "0", "0…
$ gender_identity_6    <chr> "-99", "0", "0", "0", "0", "0", "0", "0", "0", "0…
$ sexual_orientation_1 <chr> "-99", "0", "0", "0", "0", "0", "Gay or lesbian",…
$ sexual_orientation_2 <chr> "-99", "0", "Heterosexual (straight)", "Heterosex…
$ sexual_orientation_3 <chr> "-99", "0", "0", "Bisexual", "0", "0", "0", "0", …
$ sexual_orientation_4 <chr> "-99", "0", "0", "Prefer not to answer", "0", "0"…
$ sexual_orientation_5 <chr> "-99", "Something else", "0", "0", "0", "0", "0",…
$ race_ethnicity_1     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_2     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_3     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_4     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "His…
$ race_ethnicity_5     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_6     <chr> "Native Hawaiian or other Pacific Islander", "0",…
$ race_ethnicity_7     <chr> "0", "White", "White", "White", "White", "White",…
$ race_ethnicity_8     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_9     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ education            <chr> "High school graduate - high school diploma or eq…
$ income               <chr> "$40,000 - $49,999", "Less than $10,000", "$100,0…
$ sensitivity_1        <chr> "3", "-99", "-99", "-99", "Very Sensitive 10", "-…
$ sensitivity_2        <chr> "-99", "-99", "-99", "-99", "Very Sensitive 10", …
$ sensitivity_3        <chr> "-99", "8", "-99", "Very Sensitive 10", "Very Sen…
$ sensitivity_4        <chr> "2", "-99", "-99", "-99", "Very Sensitive 10", "V…
$ sensitivity_5        <chr> "6", "Very Sensitive 10", "-99", "Very Sensitive …
$ sensitivity_6        <chr> "4", "Very Sensitive 10", "-99", "-99", "Very Sen…
$ sensitivity_7        <chr> "-99", "7", "-99", "-99", "8", "-99", "Not Sensit…
$ sensitivity_8        <chr> "Not Sensitive 1", "6", "-99", "-99", "6", "-99",…
$ sensitivity_9        <chr> "-99", "Not Sensitive 1", "Very Sensitive 10", "-…
$ sensitivity_10       <chr> "-99", "-99", "-99", "-99", "6", "-99", "Not Sens…
$ sensitivity_11       <chr> "-99", "Very Sensitive 10", "-99", "-99", "6", "-…
$ sensitivity_12       <chr> "-99", "Very Sensitive 10", "-99", "-99", "4", "-…
$ sensitivity_13       <chr> "-99", "Very Sensitive 10", "-99", "-99", "Very S…
$ sensitivity_14       <chr> "-99", "Very Sensitive 10", "-99", "-99", "Very S…
$ sensitivity_15       <chr> "4", "Very Sensitive 10", "-99", "-99", "Very Sen…
$ sensitivity_16       <chr> "-99", "8", "-99", "-99", "4", "-99", "Not Sensit…
$ trust_1              <chr> "2", "2", "Complete Trust - 7", "5", "4", "4", "C…
$ trust_2              <chr> "5", "Complete Trust - 7", "Complete Trust - 7", …
$ trust_3              <chr> "3", "Complete Trust - 7", "Complete Trust - 7", …
$ trust_4              <chr> "4", "No trust at all - 1", "Complete Trust - 7",…
$ trust_5              <chr> "4", "No trust at all - 1", "6", "-99", "3", "-99…
$ trust_6              <chr> "4", "2", "4", "-99", "No trust at all - 1", "-99…
$ privacy_behaviors_1  <chr> "Never", "Always", "Sometimes", "-99", "Sometimes…
$ privacy_behaviors_2  <chr> "Never", "Sometimes", "Always", "Sometimes", "Som…
$ privacy_behaviors_3  <chr> "Sometimes", "Always", "Always", "Sometimes", "Al…
$ privacy_behaviors_4  <chr> "Sometimes", "Sometimes", "Sometimes", "-99", "So…
$ privacy_behaviors_5  <chr> "Always", "Sometimes", "Always", "-99", "Sometime…
$ privacy_behaviors_6  <chr> "Never", "Sometimes", "Always", "Sometimes", "Alw…
$ privacy_behaviors_7  <chr> "Never", "Sometimes", "Sometimes", "-99", "Always…
$ source               <chr> "qualtrics", "qualtrics", "qualtrics", "qualtrics…

# Handling Missing

In [6]:
df <- df %>%
    replace_with_na_all(condition = ~.x == -99)

# Recode and Relevel

We need to recode many `chr` variables to `factor` and to relevel/reorder the levels to go from low to high. We start with all the Likert scales and yes/no questions.

In [7]:
agreelevel <- c("Disagree", "Neither Agree Nor Disagree", "Agree")
agreelevel_case <- c("Disagree", "Neither agree nor disagree", "Agree")
importlevel <- c("Not important", "Neither important nor unimportant", "Important")
ynlevel <- c("No", "Yes", "I'm not sure.")
freqlevel <- c("Never", "Sometimes", "Always")
idealevel <-c ("Bad idea", "I'm not sure", "Good idea")
oftenlevel <- c("Don't use at all", "Less Often", "Every Few Weeks", "A Few Times a Week", "About Once a Day", "Several Times a Day")
senslevel <- c("-99","1","2","3","4","5","6","7","8","9","10")
trustlevel <- c("-99","1","2","3","4","5","6","7")
concernlevel <- c("Extremely Unconcerned", "Moderately Unconcerned", "Slightly Unconcerned", "Neither Concerned nor Unconcerned",
                 "Slightly Concerned", "Moderately Concerned", "Extremely Concerned")

In [8]:
df <- df %>%
    mutate_at(vars(starts_with("trust_")),
              list(~factor(., levels = trustlevel, ordered = TRUE))) %>%
    mutate_at(vars(starts_with("trust_")),
              list(~recode(., "Complete Trust - 7" = "7", "No trust at all - 1" = "1"))) %>%
    mutate_at(vars(starts_with("sensitivity")),
             list(~recode(., "Very Sensitive 10" = "10", "Not Sensitive 1" = "1"))) %>%
    mutate_at(vars(starts_with("sensitivity")),
             list(~factor(., levels = senslevel, ordered = TRUE))) %>%
    mutate_at(vars(starts_with("digital_privacy")),
             list(~factor(., levels = agreelevel, ordered = TRUE))) %>%
    mutate_at(vars(starts_with("data_archive")),
             list(~factor(., levels = importlevel, ordered = TRUE ))) %>%
    mutate_at(vars(starts_with("researchers_")),
             list(~factor(., levels = ynlevel, ordered = FALSE))) %>%
    mutate_at(vars(starts_with("sm_companies_")),
             list(~factor(., levels = ynlevel, ordered = FALSE))) %>%
    mutate_at(vars(starts_with("journalists_")),
             list(~factor(., levels = ynlevel, ordered = FALSE))) %>%
    mutate_at(vars(starts_with("privacy_behaviors")),
             list(~factor(., levels = freqlevel, ordered = TRUE))) %>%
    mutate_at(vars(starts_with("how_often")),
             list(~factor(., levels = oftenlevel, ordered = TRUE))) %>%
    mutate(secure_archive = factor(secure_archive, levels = idealevel, ordered = FALSE)) %>%
    mutate(anonymous_archive = factor(anonymous_archive, levels = idealevel, ordered = TRUE)) %>%
    mutate(social_science = factor(social_science, levels = agreelevel_case, ordered = TRUE)) %>%
    mutate(social_media_use = factor(social_media_use, levels = ynlevel, ordered = FALSE)) %>%
    mutate(sometimes = factor(sometimes, levels = ynlevel, ordered = FALSE)) %>%
    mutate(social_media_use = factor(social_media_use, levels = ynlevel, ordered = FALSE)) %>%
    mutate(tweets_public = factor(tweets_public, levels = ynlevel, ordered = FALSE)) %>%
    mutate(insta_public = factor(insta_public, levels = ynlevel, ordered = FALSE)) %>%
    rename(concern_misuse = `concern-misuse`) %>%
    rename(concern_harm = `concern-harm`) %>%
    mutate_at(vars(starts_with("concern_")),
             list(~factor(., levels = concernlevel, ordered = TRUE))) %>%
    glimpse()

Rows: 1,018
Columns: 142
$ responseid           <chr> "R_3FXrXtg2n2GkeT4", "R_usoOyr9obtGrVYt", "R_12aM…
$ distributionchannel  <chr> "anonymous", "anonymous", "anonymous", "anonymous…
$ q43                  <chr> "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", …
$ social_media_use     <fct> Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes,…
$ how_often_1          <ord> Several Times a Day, Several Times a Day, Several…
$ how_often_2          <ord> A Few Times a Week, Several Times a Day, Several …
$ how_often_3          <ord> A Few Times a Week, Don't use at all, Every Few W…
$ how_often_4          <ord> About Once a Day, Don't use at all, Several Times…
$ how_often_5          <ord> A Few Times a Week, Don't use at all, Every Few W…
$ how_often_6          <ord> About Once a Day, Don't use at all, A Few Times a…
$ how_often_7          <ord> About Once a Day, A Few Times a Week, A Few Times…
$ how_often_8          <ord> Several Times a Day, Don't use at all, A Few Time…
$ how_often_9          <ord> A Few Times a Week, Don't use at all, A Few Times…
$ how_often_10         <ord> About Once a Day, Don't use at all, A Few Times a…
$ how_often_11         <ord> About Once a Day, A Few Times a Week, About Once …
$ tweets_public        <fct> No, NA, Yes, Yes, NA, Yes, NA, Yes, Yes, NA, Yes,…
$ insta_public         <fct> No, Yes, Yes, Yes, NA, Yes, NA, Yes, Yes, Yes, Ye…
$ researchers_1        <fct> Yes, Yes, Yes, NA, Yes, NA, Yes, No, No, No, Yes,…
$ researchers_2        <fct> Yes, Yes, Yes, Yes, No, NA, Yes, No, No, Yes, Yes…
$ researchers_3        <fct> No, No, Yes, NA, No, I'm not sure., Yes, No, No, …
$ researchers_4        <fct> Yes, Yes, Yes, NA, No, NA, Yes, No, No, Yes, Yes,…
$ researchers_5        <fct> Yes, No, Yes, NA, I'm not sure., NA, Yes, No, No,…
$ researchers_6        <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ researchers_7        <fct> Yes, No, Yes, NA, Yes, NA, Yes, Yes, No, No, Yes,…
$ researchers_8        <fct> No, No, Yes, NA, No, NA, Yes, Yes, No, Yes, Yes, …
$ researchers_9        <fct> Yes, No, Yes, NA, I'm not sure., NA, Yes, I'm not…
$ researchers_10       <fct> Yes, Yes, Yes, NA, No, NA, Yes, Yes, No, I'm not …
$ researchers_11       <fct> No, No, Yes, NA, No, NA, Yes, No, No, No, Yes, I'…
$ researchers_12       <fct> Yes, No, Yes, NA, No, NA, Yes, No, I'm not sure.,…
$ researchers_13       <fct> Yes, Yes, Yes, NA, No, NA, Yes, No, No, Yes, Yes,…
$ researchers_14       <fct> No, No, Yes, NA, No, NA, Yes, No, No, No, Yes, Ye…
$ researchers_15       <fct> Yes, Yes, Yes, NA, I'm not sure., NA, Yes, Yes, N…
$ researchers_16       <fct> Yes, Yes, Yes, NA, I'm not sure., NA, Yes, Yes, N…
$ researchers_17       <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, Yes, Yes, …
$ researchers_18       <fct> Yes, No, Yes, NA, No, NA, Yes, Yes, No, No, Yes, …
$ researchers_19       <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, No, Yes, Y…
$ researchers_20       <fct> Yes, No, Yes, NA, I'm not sure., NA, Yes, No, No,…
$ sm_companies_1       <fct> No, No, No, NA, Yes, NA, Yes, Yes, No, Yes, Yes, …
$ sm_companies_2       <fct> Yes, Yes, Yes, NA, No, NA, Yes, No, No, Yes, Yes,…
$ sm_companies_3       <fct> No, No, No, NA, No, NA, Yes, No, No, No, Yes, No,…
$ sm_companies_4       <fct> No, Yes, No, NA, No, NA, Yes, No, No, Yes, Yes, N…
$ sm_companies_5       <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ sm_companies_6       <fct> No, No, No, NA, No, NA, Yes, No, No, Yes, Yes, Ye…
$ sm_companies_7       <fct> Yes, No, Yes, NA, I'm not sure., NA, Yes, Yes, No…
$ sm_companies_8       <fct> I'm not sure., No, Yes, NA, No, NA, Yes, No, No, …
$ sm_companies_9       <fct> Yes, No, No, NA, No, NA, Yes, No, No, Yes, Yes, Y…
$ sm_companies_10      <fct> Yes, Yes, Yes, NA, No, NA, Yes, I'm not sure., No…
$ sm_companies_11      <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, No, Yes, Y…
$ sm_companies_12      <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, No, Yes, Y…
$ sm_companies_13      <fct> No, Yes, Yes, NA, No, I'm not sure., Yes, No, No,…
$ sm_companies_14      <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, No, Yes, N…
$ sm_companies_15      <fct> Yes, Yes, No, Yes, I'm not sure., NA, Yes, No, No…
$ sm_companies_16      <fct> Yes, Yes, Yes, NA, I'm not sure., NA, Yes, No, No…
$ sm_companies_17      <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, Yes, Yes, …
$ sm_companies_18      <fct> No, No, No, NA, No, NA, Yes, No, No, Yes, Yes, Ye…
$ sm_companies_19      <fct> No, No, Yes, NA, No, NA, Yes, No, No, No, Yes, I'…
$ sm_companies_20      <fct> Yes, No, Yes, NA, I'm not sure., NA, Yes, No, No,…
$ journalists_1        <fct> NA, NA, Yes, NA, No, No, No, No, No, Yes, Yes, I'…
$ journalists_2        <fct> NA, NA, Yes, NA, No, I'm not sure., No, No, No, Y…
$ journalists_3        <fct> NA, Yes, Yes, NA, No, No, No, No, No, Yes, Yes, N…
$ journalists_4        <fct> NA, Yes, Yes, NA, No, No, No, No, No, No, Yes, I'…
$ journalists_5        <fct> NA, NA, Yes, NA, No, I'm not sure., No, No, No, Y…
$ journalists_6        <fct> NA, Yes, Yes, NA, No, I'm not sure., No, No, No, …
$ journalists_7        <fct> NA, Yes, Yes, NA, No, Yes, No, No, No, No, Yes, I…
$ journalists_8        <fct> NA, NA, Yes, NA, No, No, No, No, No, Yes, No, I'm…
$ journalists_9        <fct> NA, No, Yes, NA, No, Yes, No, No, No, Yes, No, I'…
$ journalists_10       <fct> NA, Yes, Yes, Yes, No, No, No, No, No, No, Yes, I…
$ journalists_11       <fct> NA, NA, Yes, NA, No, No, No, No, No, No, Yes, I'm…
$ journalists_12       <fct> Yes, Yes, Yes, NA, No, No, No, No, No, No, Yes, N…
$ journalists_13       <fct> NA, Yes, Yes, NA, No, No, No, No, No, No, Yes, I'…
$ journalists_14       <fct> NA, NA, Yes, NA, No, No, No, No, No, No, Yes, Yes…
$ journalists_15       <fct> NA, Yes, Yes, NA, No, Yes, No, No, No, Yes, Yes, …
$ journalists_16       <fct> NA, NA, Yes, NA, No, I'm not sure., No, No, No, Y…
$ sometimes            <fct> Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes,…
$ sometimes_text       <chr> "yup", "I feel like some of these would have spec…
$ digital_privacy_1    <ord> Disagree, Agree, Agree, Agree, Agree, Neither Agr…
$ digital_privacy_2    <ord> Neither Agree Nor Disagree, Agree, Disagree, Agre…
$ digital_privacy_3    <ord> Neither Agree Nor Disagree, Agree, Agree, Agree, …
$ digital_privacy_4    <ord> Neither Agree Nor Disagree, Agree, Disagree, Agre…
$ social_science       <ord> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ data_archive_1       <ord> Neither important nor unimportant, Important, Imp…
$ data_archive_2       <ord> Not important, Neither important nor unimportant,…
$ data_archive_3       <ord> Neither important nor unimportant, Important, Imp…
$ data_archive_4       <ord> Not important, Important, Important, NA, Neither …
$ data_archive_5       <ord> Neither important nor unimportant, Important, Imp…
$ secure_archive       <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ anonymous_archive    <ord> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ concern_misuse       <ord> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ concern_harm         <ord> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ age                  <chr> "25 - 34", "35 - 44", "35 - 44", "75 - 84", "75 -…
$ gender_identity_1    <chr> NA, "0", "0", "Woman", "Woman", "Woman", "0", "Wo…
$ gender_identity_2    <chr> NA, "0", "Man", "Man", "0", "0", "Man", "0", "Man…
$ gender_identity_3    <chr> NA, "0", "0", "Transgender", "0", "0", "0", "0", …
$ gender_identity_4    <chr> NA, "Nonbinary/genderqueer", "0", "Nonbinary/gend…
$ gender_identity_5    <chr> NA, "0", "0", "0", "0", "0", "0", "0", "0", "0", …
$ gender_identity_6    <chr> NA, "0", "0", "0", "0", "0", "0", "0", "0", "0", …
$ sexual_orientation_1 <chr> NA, "0", "0", "0", "0", "0", "Gay or lesbian", "0…
$ sexual_orientation_2 <chr> NA, "0", "Heterosexual (straight)", "Heterosexual…
$ sexual_orientation_3 <chr> NA, "0", "0", "Bisexual", "0", "0", "0", "0", "0"…
$ sexual_orientation_4 <chr> NA, "0", "0", "Prefer not to answer", "0", "0", "…
$ sexual_orientation_5 <chr> NA, "Something else", "0", "0", "0", "0", "0", "0…
$ race_ethnicity_1     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_2     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_3     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_4     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "His…
$ race_ethnicity_5     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_6     <chr> "Native Hawaiian or other Pacific Islander", "0",…
$ race_ethnicity_7     <chr> "0", "White", "White", "White", "White", "White",…
$ race_ethnicity_8     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_9     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ education            <chr> "High school graduate - high school diploma or eq…
$ income               <chr> "$40,000 - $49,999", "Less than $10,000", "$100,0…
$ sensitivity_1        <ord> 3, NA, NA, NA, 10, NA, 10, 10, 10, NA, 10, NA, 4,…
$ sensitivity_2        <ord> NA, NA, NA, NA, 10, NA, 1, 10, 10, NA, 6, NA, 7, …
$ sensitivity_3        <ord> NA, 8, NA, 10, 10, NA, 1, 10, 10, NA, 10, NA, 5, …
$ sensitivity_4        <ord> 2, NA, NA, NA, 10, 10, 1, 10, 10, 6, 10, NA, 5, 9…
$ sensitivity_5        <ord> 6, 10, NA, 10, 10, NA, 1, 10, 10, NA, 10, NA, 7, …
$ sensitivity_6        <ord> 4, 10, NA, NA, 10, NA, 1, 10, 10, NA, 10, 1, 8, 5…
$ sensitivity_7        <ord> NA, 7, NA, NA, 8, NA, 1, 10, 10, NA, 9, NA, 7, 2,…
$ sensitivity_8        <ord> 1, 6, NA, NA, 6, NA, 1, 10, 1, NA, 10, NA, 7, 5, …
$ sensitivity_9        <ord> NA, 1, 10, NA, 4, NA, 1, 10, 1, NA, 9, NA, 4, 5, …
$ sensitivity_10       <ord> NA, NA, NA, NA, 6, NA, 1, 10, 1, NA, 9, NA, 5, 1,…
$ sensitivity_11       <ord> NA, 10, NA, NA, 6, NA, 1, 10, 1, NA, 10, NA, 5, 2…
$ sensitivity_12       <ord> NA, 10, NA, NA, 4, NA, 1, 10, 10, NA, 8, NA, 8, 3…
$ sensitivity_13       <ord> NA, 10, NA, NA, 10, NA, 1, 10, 10, NA, 10, NA, 4,…
$ sensitivity_14       <ord> NA, 10, NA, NA, 10, NA, 1, 10, 10, NA, 9, NA, 9, …
$ sensitivity_15       <ord> 4, 10, NA, NA, 10, NA, 1, 10, 10, NA, 9, NA, 7, 5…
$ sensitivity_16       <ord> NA, 8, NA, NA, 4, NA, 1, 10, 10, NA, 10, NA, 7, 8…
$ trust_1              <ord> 2, 2, NA, 5, 4, 4, NA, 4, 5, 5, 6, 3, 3, NA, NA, …
$ trust_2              <ord> 5, NA, NA, NA, 3, NA, 3, 4, NA, 5, 6, 2, 4, NA, 3…
$ trust_3              <ord> 3, NA, NA, NA, 4, NA, 6, 6, NA, 3, NA, NA, 5, NA,…
$ trust_4              <ord> 4, NA, NA, NA, 3, NA, 6, NA, NA, 3, NA, 3, 2, 6, …
$ trust_5              <ord> 4, NA, 6, NA, 3, NA, 4, NA, NA, 4, NA, 2, 3, 5, 4…
$ trust_6              <ord> 4, 2, 4, NA, NA, NA, 3, NA, NA, 3, NA, 4, 5, 5, 5…
$ privacy_behaviors_1  <ord> Never, Always, Sometimes, NA, Sometimes, NA, Some…
$ privacy_behaviors_2  <ord> Never, Sometimes, Always, Sometimes, Sometimes, N…
$ privacy_behaviors_3  <ord> Sometimes, Always, Always, Sometimes, Always, NA,…
$ privacy_behaviors_4  <ord> Sometimes, Sometimes, Sometimes, NA, Sometimes, N…
$ privacy_behaviors_5  <ord> Always, Sometimes, Always, NA, Sometimes, NA, Som…
$ privacy_behaviors_6  <ord> Never, Sometimes, Always, Sometimes, Always, Alwa…
$ privacy_behaviors_7  <ord> Never, Sometimes, Sometimes, NA, Always, NA, Alwa…
$ source               <chr> "qualtrics", "qualtrics", "qualtrics", "qualtrics…

## Create scales of trust, digital privacy, and privacy behaviors

In [9]:
df <- df %>%
    mutate_at(vars(starts_with("trust_")),
              list(as.numeric)) %>%
    mutate_at(vars(starts_with("digital_privacy_")),
              list(as.numeric)) %>%
    mutate_at(vars(starts_with("privacy_behaviors_")),
              list(as.numeric)) %>%
    rowwise() %>% 
    mutate(trust_scale = sum(across(starts_with("trust_")), na.rm = T)) %>% 
    mutate(dp_scale = sum(across(starts_with("digital_privacy_")), na.rm = T)) %>%
    mutate(pb_scale = sum(across(starts_with("privacy_behaviors_")), na.rm = T)) %>%
    ungroup() %>%
    glimpse()

Rows: 1,018
Columns: 145
$ responseid           <chr> "R_3FXrXtg2n2GkeT4", "R_usoOyr9obtGrVYt", "R_12aM…
$ distributionchannel  <chr> "anonymous", "anonymous", "anonymous", "anonymous…
$ q43                  <chr> "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", …
$ social_media_use     <fct> Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes,…
$ how_often_1          <ord> Several Times a Day, Several Times a Day, Several…
$ how_often_2          <ord> A Few Times a Week, Several Times a Day, Several …
$ how_often_3          <ord> A Few Times a Week, Don't use at all, Every Few W…
$ how_often_4          <ord> About Once a Day, Don't use at all, Several Times…
$ how_often_5          <ord> A Few Times a Week, Don't use at all, Every Few W…
$ how_often_6          <ord> About Once a Day, Don't use at all, A Few Times a…
$ how_often_7          <ord> About Once a Day, A Few Times a Week, A Few Times…
$ how_often_8          <ord> Several Times a Day, Don't use at all, A Few Time…
$ how_often_9          <ord> A Few Times a Week, Don't use at all, A Few Times…
$ how_often_10         <ord> About Once a Day, Don't use at all, A Few Times a…
$ how_often_11         <ord> About Once a Day, A Few Times a Week, About Once …
$ tweets_public        <fct> No, NA, Yes, Yes, NA, Yes, NA, Yes, Yes, NA, Yes,…
$ insta_public         <fct> No, Yes, Yes, Yes, NA, Yes, NA, Yes, Yes, Yes, Ye…
$ researchers_1        <fct> Yes, Yes, Yes, NA, Yes, NA, Yes, No, No, No, Yes,…
$ researchers_2        <fct> Yes, Yes, Yes, Yes, No, NA, Yes, No, No, Yes, Yes…
$ researchers_3        <fct> No, No, Yes, NA, No, I'm not sure., Yes, No, No, …
$ researchers_4        <fct> Yes, Yes, Yes, NA, No, NA, Yes, No, No, Yes, Yes,…
$ researchers_5        <fct> Yes, No, Yes, NA, I'm not sure., NA, Yes, No, No,…
$ researchers_6        <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ researchers_7        <fct> Yes, No, Yes, NA, Yes, NA, Yes, Yes, No, No, Yes,…
$ researchers_8        <fct> No, No, Yes, NA, No, NA, Yes, Yes, No, Yes, Yes, …
$ researchers_9        <fct> Yes, No, Yes, NA, I'm not sure., NA, Yes, I'm not…
$ researchers_10       <fct> Yes, Yes, Yes, NA, No, NA, Yes, Yes, No, I'm not …
$ researchers_11       <fct> No, No, Yes, NA, No, NA, Yes, No, No, No, Yes, I'…
$ researchers_12       <fct> Yes, No, Yes, NA, No, NA, Yes, No, I'm not sure.,…
$ researchers_13       <fct> Yes, Yes, Yes, NA, No, NA, Yes, No, No, Yes, Yes,…
$ researchers_14       <fct> No, No, Yes, NA, No, NA, Yes, No, No, No, Yes, Ye…
$ researchers_15       <fct> Yes, Yes, Yes, NA, I'm not sure., NA, Yes, Yes, N…
$ researchers_16       <fct> Yes, Yes, Yes, NA, I'm not sure., NA, Yes, Yes, N…
$ researchers_17       <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, Yes, Yes, …
$ researchers_18       <fct> Yes, No, Yes, NA, No, NA, Yes, Yes, No, No, Yes, …
$ researchers_19       <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, No, Yes, Y…
$ researchers_20       <fct> Yes, No, Yes, NA, I'm not sure., NA, Yes, No, No,…
$ sm_companies_1       <fct> No, No, No, NA, Yes, NA, Yes, Yes, No, Yes, Yes, …
$ sm_companies_2       <fct> Yes, Yes, Yes, NA, No, NA, Yes, No, No, Yes, Yes,…
$ sm_companies_3       <fct> No, No, No, NA, No, NA, Yes, No, No, No, Yes, No,…
$ sm_companies_4       <fct> No, Yes, No, NA, No, NA, Yes, No, No, Yes, Yes, N…
$ sm_companies_5       <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ sm_companies_6       <fct> No, No, No, NA, No, NA, Yes, No, No, Yes, Yes, Ye…
$ sm_companies_7       <fct> Yes, No, Yes, NA, I'm not sure., NA, Yes, Yes, No…
$ sm_companies_8       <fct> I'm not sure., No, Yes, NA, No, NA, Yes, No, No, …
$ sm_companies_9       <fct> Yes, No, No, NA, No, NA, Yes, No, No, Yes, Yes, Y…
$ sm_companies_10      <fct> Yes, Yes, Yes, NA, No, NA, Yes, I'm not sure., No…
$ sm_companies_11      <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, No, Yes, Y…
$ sm_companies_12      <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, No, Yes, Y…
$ sm_companies_13      <fct> No, Yes, Yes, NA, No, I'm not sure., Yes, No, No,…
$ sm_companies_14      <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, No, Yes, N…
$ sm_companies_15      <fct> Yes, Yes, No, Yes, I'm not sure., NA, Yes, No, No…
$ sm_companies_16      <fct> Yes, Yes, Yes, NA, I'm not sure., NA, Yes, No, No…
$ sm_companies_17      <fct> Yes, No, Yes, NA, No, NA, Yes, No, No, Yes, Yes, …
$ sm_companies_18      <fct> No, No, No, NA, No, NA, Yes, No, No, Yes, Yes, Ye…
$ sm_companies_19      <fct> No, No, Yes, NA, No, NA, Yes, No, No, No, Yes, I'…
$ sm_companies_20      <fct> Yes, No, Yes, NA, I'm not sure., NA, Yes, No, No,…
$ journalists_1        <fct> NA, NA, Yes, NA, No, No, No, No, No, Yes, Yes, I'…
$ journalists_2        <fct> NA, NA, Yes, NA, No, I'm not sure., No, No, No, Y…
$ journalists_3        <fct> NA, Yes, Yes, NA, No, No, No, No, No, Yes, Yes, N…
$ journalists_4        <fct> NA, Yes, Yes, NA, No, No, No, No, No, No, Yes, I'…
$ journalists_5        <fct> NA, NA, Yes, NA, No, I'm not sure., No, No, No, Y…
$ journalists_6        <fct> NA, Yes, Yes, NA, No, I'm not sure., No, No, No, …
$ journalists_7        <fct> NA, Yes, Yes, NA, No, Yes, No, No, No, No, Yes, I…
$ journalists_8        <fct> NA, NA, Yes, NA, No, No, No, No, No, Yes, No, I'm…
$ journalists_9        <fct> NA, No, Yes, NA, No, Yes, No, No, No, Yes, No, I'…
$ journalists_10       <fct> NA, Yes, Yes, Yes, No, No, No, No, No, No, Yes, I…
$ journalists_11       <fct> NA, NA, Yes, NA, No, No, No, No, No, No, Yes, I'm…
$ journalists_12       <fct> Yes, Yes, Yes, NA, No, No, No, No, No, No, Yes, N…
$ journalists_13       <fct> NA, Yes, Yes, NA, No, No, No, No, No, No, Yes, I'…
$ journalists_14       <fct> NA, NA, Yes, NA, No, No, No, No, No, No, Yes, Yes…
$ journalists_15       <fct> NA, Yes, Yes, NA, No, Yes, No, No, No, Yes, Yes, …
$ journalists_16       <fct> NA, NA, Yes, NA, No, I'm not sure., No, No, No, Y…
$ sometimes            <fct> Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes, Yes,…
$ sometimes_text       <chr> "yup", "I feel like some of these would have spec…
$ digital_privacy_1    <dbl> 1, 3, 3, 3, 3, 2, 1, 3, 3, 2, 3, 2, 3, 3, 2, 2, 3…
$ digital_privacy_2    <dbl> 2, 3, 1, 3, 3, 3, 2, 3, 3, 2, 2, 2, 3, 2, 2, 3, 3…
$ digital_privacy_3    <dbl> 2, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 1, 3, 2, 1, 3, 3…
$ digital_privacy_4    <dbl> 2, 3, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 1, 2, 3, 3…
$ social_science       <ord> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ data_archive_1       <ord> Neither important nor unimportant, Important, Imp…
$ data_archive_2       <ord> Not important, Neither important nor unimportant,…
$ data_archive_3       <ord> Neither important nor unimportant, Important, Imp…
$ data_archive_4       <ord> Not important, Important, Important, NA, Neither …
$ data_archive_5       <ord> Neither important nor unimportant, Important, Imp…
$ secure_archive       <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ anonymous_archive    <ord> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ concern_misuse       <ord> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ concern_harm         <ord> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ age                  <chr> "25 - 34", "35 - 44", "35 - 44", "75 - 84", "75 -…
$ gender_identity_1    <chr> NA, "0", "0", "Woman", "Woman", "Woman", "0", "Wo…
$ gender_identity_2    <chr> NA, "0", "Man", "Man", "0", "0", "Man", "0", "Man…
$ gender_identity_3    <chr> NA, "0", "0", "Transgender", "0", "0", "0", "0", …
$ gender_identity_4    <chr> NA, "Nonbinary/genderqueer", "0", "Nonbinary/gend…
$ gender_identity_5    <chr> NA, "0", "0", "0", "0", "0", "0", "0", "0", "0", …
$ gender_identity_6    <chr> NA, "0", "0", "0", "0", "0", "0", "0", "0", "0", …
$ sexual_orientation_1 <chr> NA, "0", "0", "0", "0", "0", "Gay or lesbian", "0…
$ sexual_orientation_2 <chr> NA, "0", "Heterosexual (straight)", "Heterosexual…
$ sexual_orientation_3 <chr> NA, "0", "0", "Bisexual", "0", "0", "0", "0", "0"…
$ sexual_orientation_4 <chr> NA, "0", "0", "Prefer not to answer", "0", "0", "…
$ sexual_orientation_5 <chr> NA, "Something else", "0", "0", "0", "0", "0", "0…
$ race_ethnicity_1     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_2     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_3     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_4     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "His…
$ race_ethnicity_5     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_6     <chr> "Native Hawaiian or other Pacific Islander", "0",…
$ race_ethnicity_7     <chr> "0", "White", "White", "White", "White", "White",…
$ race_ethnicity_8     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ race_ethnicity_9     <chr> "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ education            <chr> "High school graduate - high school diploma or eq…
$ income               <chr> "$40,000 - $49,999", "Less than $10,000", "$100,0…
$ sensitivity_1        <ord> 3, NA, NA, NA, 10, NA, 10, 10, 10, NA, 10, NA, 4,…
$ sensitivity_2        <ord> NA, NA, NA, NA, 10, NA, 1, 10, 10, NA, 6, NA, 7, …
$ sensitivity_3        <ord> NA, 8, NA, 10, 10, NA, 1, 10, 10, NA, 10, NA, 5, …
$ sensitivity_4        <ord> 2, NA, NA, NA, 10, 10, 1, 10, 10, 6, 10, NA, 5, 9…
$ sensitivity_5        <ord> 6, 10, NA, 10, 10, NA, 1, 10, 10, NA, 10, NA, 7, …
$ sensitivity_6        <ord> 4, 10, NA, NA, 10, NA, 1, 10, 10, NA, 10, 1, 8, 5…
$ sensitivity_7        <ord> NA, 7, NA, NA, 8, NA, 1, 10, 10, NA, 9, NA, 7, 2,…
$ sensitivity_8        <ord> 1, 6, NA, NA, 6, NA, 1, 10, 1, NA, 10, NA, 7, 5, …
$ sensitivity_9        <ord> NA, 1, 10, NA, 4, NA, 1, 10, 1, NA, 9, NA, 4, 5, …
$ sensitivity_10       <ord> NA, NA, NA, NA, 6, NA, 1, 10, 1, NA, 9, NA, 5, 1,…
$ sensitivity_11       <ord> NA, 10, NA, NA, 6, NA, 1, 10, 1, NA, 10, NA, 5, 2…
$ sensitivity_12       <ord> NA, 10, NA, NA, 4, NA, 1, 10, 10, NA, 8, NA, 8, 3…
$ sensitivity_13       <ord> NA, 10, NA, NA, 10, NA, 1, 10, 10, NA, 10, NA, 4,…
$ sensitivity_14       <ord> NA, 10, NA, NA, 10, NA, 1, 10, 10, NA, 9, NA, 9, …
$ sensitivity_15       <ord> 4, 10, NA, NA, 10, NA, 1, 10, 10, NA, 9, NA, 7, 5…
$ sensitivity_16       <ord> NA, 8, NA, NA, 4, NA, 1, 10, 10, NA, 10, NA, 7, 8…
$ trust_1              <dbl> 3, 3, NA, 6, 5, 5, NA, 5, 6, 6, 7, 4, 4, NA, NA, …
$ trust_2              <dbl> 6, NA, NA, NA, 4, NA, 4, 5, NA, 6, 7, 3, 5, NA, 4…
$ trust_3              <dbl> 4, NA, NA, NA, 5, NA, 7, 7, NA, 4, NA, NA, 6, NA,…
$ trust_4              <dbl> 5, NA, NA, NA, 4, NA, 7, NA, NA, 4, NA, 4, 3, 7, …
$ trust_5              <dbl> 5, NA, 7, NA, 4, NA, 5, NA, NA, 5, NA, 3, 4, 6, 5…
$ trust_6              <dbl> 5, 3, 5, NA, NA, NA, 4, NA, NA, 4, NA, 5, 6, 6, 6…
$ privacy_behaviors_1  <dbl> 1, 3, 2, NA, 2, NA, 2, 2, NA, 1, 3, 2, 3, 3, 2, 3…
$ privacy_behaviors_2  <dbl> 1, 2, 3, 2, 2, NA, 1, 2, NA, 2, 3, 3, 2, 2, 2, 2,…
$ privacy_behaviors_3  <dbl> 2, 3, 3, 2, 3, NA, 1, 2, 3, 1, 3, 2, 2, 2, 1, 3, …
$ privacy_behaviors_4  <dbl> 2, 2, 2, NA, 2, NA, 2, 2, NA, 2, 3, 2, 2, 1, 1, 3…
$ privacy_behaviors_5  <dbl> 3, 2, 3, NA, 2, NA, 2, 2, NA, 1, 3, 2, 2, 1, 2, 2…
$ privacy_behaviors_6  <dbl> 1, 2, 3, 2, 3, 3, 3, 2, NA, 2, 3, 2, 2, 2, 2, 2, …
$ privacy_behaviors_7  <dbl> 1, 2, 2, NA, 3, NA, 3, 2, NA, 2, 3, 2, 3, 1, 1, 3…
$ source               <chr> "qualtrics", "qualtrics", "qualtrics", "qualtrics…
$ trust_scale          <dbl> 28, 6, 12, 6, 22, 5, 27, 17, 6, 29, 14, 19, 28, 1…
$ dp_scale             <dbl> 7, 12, 8, 12, 12, 10, 8, 12, 12, 8, 11, 8, 12, 8,…
$ pb_scale             <dbl> 11, 16, 18, 6, 17, 3, 14, 14, 3, 11, 21, 15, 16, …

## Recode Demographics

Then we handle the demographic questions. Many of these were asked with "check all that apply", so we have to generate variables. We have very few folks who indicated minority SOGI so are collapsing those categories.

In [10]:
df <- df %>%
    mutate(man_alone = case_when(gender_identity_2 == 'Man' ~ '1', 
                                 gender_identity_2 == '-99' ~ as.character(NA),
                                 gender_identity_2 == '0' ~ '0',
                                 gender_identity_1 == 'Woman' | gender_identity_3 == 'Transgender' | gender_identity_4 == 'Nonbinary/genderqueer' | gender_identity_5 == 'Something else' ~ '0',
                                 gender_identity_5 == 'Prefer not to answer' ~ as.character(NA))) %>%
    mutate(straight_alone = case_when(sexual_orientation_2 == 'Heterosexual (straight)' ~ '1', 
                                      sexual_orientation_2 == '-99' ~ as.character(NA),
                                      sexual_orientation_2 == '0' ~ '0',
                                      sexual_orientation_1 == 'Gay or lesbian' | sexual_orientation_3 == 'Bisexual' | sexual_orientation_5 == 'Something else' ~ '0',
                                      sexual_orientation_4 == 'Prefer not to answer' ~ as.character(NA))) %>%
    mutate(white_alone = case_when(race_ethnicity_7 == 'White' ~ '1', 
                                   race_ethnicity_7 == '-99' ~ as.character(NA),
                                   race_ethnicity_7 == '0' ~ '0',
                                   race_ethnicity_1 == 'American Indian or Alaskan Native' | race_ethnicity_2 == 'Asian' | race_ethnicity_3 == 'Black or African American' | race_ethnicity_4 == 'Hispanic or Latino' | race_ethnicity_5 == 'Middle Eastern or North Africa' | race_ethnicity_6 == 'Native Hawaiian or other Pacific Islander' | race_ethnicity_9 == 'Something else' ~ '0',                                  
                                   race_ethnicity_8 == 'Prefer not to answer' ~ as.character(NA))) %>%
    mutate(black_alone = case_when(race_ethnicity_3 == 'Black or African American' ~ '1', 
                                   race_ethnicity_3 == '-99' ~ as.character(NA),
                                   race_ethnicity_3 == '0' ~ '0',
                                   race_ethnicity_1 == 'American Indian or Alaskan Native' | race_ethnicity_2 == 'Asian' | race_ethnicity_7 == 'White' | race_ethnicity_4 == 'Hispanic or Latino' | race_ethnicity_5 == 'Middle Eastern or North Africa' | race_ethnicity_6 == 'Native Hawaiian or other Pacific Islander' | race_ethnicity_9 == 'Something else' ~ '0',
                                   race_ethnicity_8 == 'Prefer not to answer' ~ as.character(NA))) %>%
    mutate(race = case_when(black_alone == '1' ~ 'Black',
                                 white_alone == '1' ~ 'White',
                                 black_alone == '0' & white_alone == '0' ~ 'Other')) %>%
    mutate_at(vars(c('man_alone', 'straight_alone', 'white_alone', 'black_alone', 'race')), list(~factor(., ordered = FALSE)))

In [11]:
df %>% count(man_alone)

  man_alone n
1 0         456
2 1         551
3 NA         11

In [12]:
df %>% count(straight_alone)

  straight_alone n
1 0              161
2 1              844
3 NA              13

In [13]:
df %>% count(white_alone)

  white_alone n
1 0           226
2 1           769
3 NA           23

In [14]:
df %>% count(black_alone)

  black_alone n
1 0           905
2 1            90
3 NA           23

In [15]:
df %>% count(race)

  race  n
1 Black  90
2 Other 140
3 White 765
4 NA     23

In [16]:
df %>% count(age)

  age         n
1 18 - 24      46
2 25 - 34     299
3 35 - 44     210
4 45 - 54      89
5 55 - 64      99
6 65 - 74     189
7 75 - 84      71
8 85 or older  15

In [17]:
df <- df %>%
    mutate(age_brackets = case_when(age == '18 - 24' ~ '18 - 34', 
                                    age == '25 - 34' ~ '18 - 34',
                                    age == '35 - 44' ~ '35 - 64',
                                    age == '45 - 54' ~ '35 - 64',
                                    age == '55 - 64' ~ '35 - 64',
                                    TRUE ~ '65 and over'                                 
                                   )) %>%
    mutate(age_brackets = factor(age_brackets, levels = c('18 - 34', '35 - 64', '65 and over'), ordered = TRUE))

df %>% count(age_brackets)

  age_brackets n
1 18 - 34      345
2 35 - 64      398
3 65 and over  275

In [18]:
df %>%
    count(education)

  education
1 Associate degree
2 Bachelor's degree (For example: BA, AB, BS)
3 Did not complete high school
4 Doctorate degree (For example: PhD, EdD)
5 High school graduate - high school diploma or equivalent (for example: GED)
6 Master's degree (For example: MA, MS)
7 Professional Degree (For example: MBA, MFA, DDS, DVM, LLB, JD)
8 Some college but no degree
9 NA
  n
1  89
2 397
3  10
4  15
5 147
6 151
7  21
8 185
9   3

In [19]:
df <- df %>% mutate(education_level = case_when(education == 'Did not complete high school' | 
                                                education == 'High school graduate - high school diploma or equivalent (for example: GED)' |
                                                education == 'Some college but no degree' ~ 'Less than college degree',
                                                education == 'Associate degree' | education == 'Bachelor\'s degree (For example: BA, AB, BS)' ~ 'College degree',
                                                TRUE ~ 'Graduate degree'
                                                )
                   ) %>%
            mutate(education_level = factor(education_level, 
                                            levels = c('Less than college degree', 'College degree', 'Graduate degree'), 
                                            ordered = TRUE)
                )
df %>% count(education_level)

  education_level          n
1 Less than college degree 342
2 College degree           486
3 Graduate degree          190

In [20]:
df %>% count(income)

   income              n
1  $10,000 - $19,999    88
2  $100,000 - $149,999  79
3  $20,000 - $29,999   113
4  $30,000 - $39,999   132
5  $40,000 - $49,999   129
6  $50,000 - $59,999   142
7  $60,000 - $69,999    67
8  $70,000 - $79,999    75
9  $80,000 - $89,999    49
10 $90,000 - $99,999    49
11 Less than $10,000    61
12 More than $150,000   31
13 NA                    3

In [21]:
df <- df %>% # mutate(income = str_trim(income, side = "both")) %>%
    mutate(income_level = case_when(income == '-99' ~ as.character(NA),
                                             income == 'Less than $10,000' | income == '$10,000 - $19,999' | income == '$20,000 - $29,999' | income == '$30,000 - $39,999' ~ 'Below 40K',
                                             income == '$40,000 - $49,999' | income == '$50,000 - $59,999' ~ '40K - 60K',
                                             TRUE ~ 'Over 60K'
                                    )
                   ) %>%
            mutate(income_level = factor(income_level, levels = c('Below 40K', '40K - 60K', 'Over 60K'), ordered = TRUE)
                  )
df %>% count(income_level)

  income_level n
1 Below 40K    394
2 40K - 60K    271
3 Over 60K     353

# Save the Data in R format

Save it all as RData so we have the dfs and these transformations available for analysis.

In [22]:
save(df, file = out_file)